---
import Card from "./Card.astro";
import ClockApi from "./ClockApi.astro";
import SectionDivider from "./SectionDivider.astro";
import AstroIcon from "./icons/Astro.astro";
import NextjsIcon from "./icons/Nextjs.astro";
import ReactIcon from "./icons/React.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import CssIcon from "./icons/Css.astro";
import HtmlIcon from "./icons/Html.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import TypescriptIcon from "./icons/Typescript.astro";
import PythonIcon from "./icons/Python.astro";
import NodeIcon from "./icons/Node.astro";
import LinuxIcon from "./icons/Linux.astro";
import GitIcon from "./icons/Git.astro";
---

<section id="about">
  <SectionDivider title="Sobre mí" />
  <div class="gradients">
    <Card>
      <div
        class="xl:col-span-2 xl:row-span-2 bg-[#25262b] rounded-3xl flex pt-20 px-8 pb-8 flex-col border border-[#313234] hover:border-gray-600"
      >
        <h2 class="text-3xl text-[#9db2bf] font-bold">Jean Carlos Tigreros</h2>
        <p class="text-xl leading-relaxed mt-4">
          Hola! tengo 21 años, actualmente estoy cursando una ingeniería en la
          Universidad Nacional Abierta y a Distancia, en Palmira, Colombia 🇨🇴,
          soy desarrollador web freelancer, mi enfoque está dirigido al
          desarrollo de soluciones de software, desarrollo de páginas web, entre
          otros. Desde pequeño siempre me ha interesado el software, y con el
          tiempo se ha convertido en una pasión 😊
        </p>
        <p class="text-xl leading-relaxed mt-4">
          Dale un vistazo a mis redes sociales!
        </p>
        <a
          class="underline"
          href="https://github.com/jeantigreros"
          target="_blank">Github</a
        >
        <a class="underline" href="https://x.com/nekro24" target="_blank">X</a>
      </div>
      <div
        class="xl:col-span-1 xl:row-span-3 bg-[#25262b] rounded-3xl flex pt-20 px-8 pb-8 flex-col border border-[#313234] hover:border-gray-600"
      >
        <h2 class="text-3xl text-[#9db2bf] font-bold">Habilidades</h2>
        <p class="text-xl leading-relaxed mt-4">
          Sé usar diversas tecnologías, entre ellas están:
          <article
            class="[&>*]:border [&>*]:md:p-1 [&>*]:border-[#313234] [&>*]:bg-slate-800 flex flex-wrap gap-4 [&>*]:rounded-xl [&>*]:p-5 justify-center pt-10 [&>*]:text-center"
          >
            <AstroIcon />
            <NextjsIcon />
            <ReactIcon />
            <CssIcon />
            <JavascriptIcon />
            <TypescriptIcon />
            <HtmlIcon />
            <TailwindIcon />
            <PythonIcon />
            <NodeIcon />
            <LinuxIcon />
            <GitIcon />
          </article>
        </p>
      </div>
      <div
        class="xl:col-span-1 xl:row-span-1 bg-[#25262b] rounded-3xl flex pt-20 px-8 pb-8 flex-col border border-[#313234] hover:border-gray-600"
      >
        <h2 class="text-3xl text-[#9db2bf] font-bold">Aficiones</h2>
        <p class="text-xl leading-relaxed mt-4">
          Fuera del desarrollo de software, también tengo otros intereses como
          lo son los🎮 <span class="text-[#9db2bf] font-bold">Videojuegos</span
          >, la 🏛️ <span class="text-[#9db2bf] font-bold">Filosofía</span>, la
          📷 <span class="text-[#9db2bf] font-bold">Fotografía</span> y el 💪 <span
            class="text-[#9db2bf] font-bold">Ejercicio</span
          >
        </p>
      </div>
      <div
        class="xl:col-span-1 xl:row-span-1 bg-[#25262b] rounded-3xl flex flex-col border border-[#313234] hover:border-gray-600 justify-center items-center"
      >
        <ClockApi server:defer>
          <span slot="fallback" class="text-5xl text-white"> Cargando... </span>
        </ClockApi>
      </div>
    </Card>
  </div>
</section>

<style>
  .gradients {
    background: radial-gradient(
        circle at 70% 40%,
        rgb(46, 46, 47),
        transparent 450px
      ),
      radial-gradient(circle at 25% 65%, rgb(46, 46, 47), transparent 450px);
  }
</style>
