---
import { PUBLIC_ENDPOINT } from 'astro:env/server'

const response = await fetch(PUBLIC_ENDPOINT)
const data = await response.json()
const time = data.time;
---

<h2 class="text-6xl text-white font-bold"> {time} UTC -5 </h2>
