<header class="flex justify-between items-center py-3 w-3/4 max-2xl:w-[640px] max-sm:hidden  mx-auto">
    <img
    class="rounded-full w-14 h-14 static"
    src="./popcat.gif"
    alt="popcat"
    />
    <img
    class="rounded-full w-14 h-14 absolute active hover:opacity-0"
    src="./popcat.png"
    alt="popcat"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
      <a href="#experience">Experiencia</a>
      <a href="#projects">Proyectos</a>
      <a href="#about">Sobre mí</a>
        <a href="mailto:jtigreros92@gmail.com">Contacto</a>
    </nav>
</header>
