<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img
    class="rounded-full w-14 h-14"
    src="/public/4780d793b244bb6e8fd8f90993010543.jpg"
    alt="popcat"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#about">Sobre mí</a>
        <a href="#proyects">Proyectos</a>
        <a href="#experience">Experiencia</a>
        <a href="mailto:jtigreros92@gmail.com">Contacto</a>
    </nav>
</header>
