---
import Badge from "./Badge.astro"
---

<section id="hero" class="w-full mx-auto py-28 md:py-44 px-4 flex flex-col items-center text-center">
  <a href="https://co.linkedin.com/in/jean-carlos-tigreros-0187b12b5" target="_blank" rel="noopener" class="mb-5"><Badge>Disponible para trabajar</Badge></a>
  <div class="relative">
    <h1 class="gradient-text text-transparent bg-clip-text animate-gradient text-4xl sm:text-5xl md:text-7xl font-extrabold pb-6 select-none">
      Hola, soy Jean
    </h1>
    <h1 class="gradient-text text-transparent bg-clip-text animate-gradient absolute inset-0 blur-xl opacity-60 text-4xl sm:text-5xl md:text-7xl font-extrabold pb-6 select-none" aria-hidden="true">
      Hola, soy Jean
    </h1>
  </div>
  <p class="text-lg md:text-xl text-gray-300">Desarrollador web & Estudiante de ingeniería de sistemas. De Colombia 🇨🇴</p>
  <div class="pt-10 md:pt-20">
    <a href={import.meta.env.BASE_URL + '/resume.pdf'} rel="noopener" target="_blank" class="relative inline-flex font-semibold items-center justify-center px-8 py-3 md:px-10 md:py-3 text-sm md:text-base overflow-hidden text-white bg-gray-800 rounded-full group">
      <span class="absolute w-0 h-0 transition-all duration-500 ease-out gradient-button animate-gradient2 rounded-full group-hover:w-56 group-hover:h-56"></span>
      <span class="absolute inset-0 w-full h-full rounded-full opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
      <span class="relative">Descarga mi CV</span>
    </a>
  </div>
</section>

<style>
  .gradient-text {
    background: linear-gradient(to right, #a855f7, #ec4899, #eab308, #ec4899, #a855f7, #ec4899, #eab308);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .gradient-button {
    background: linear-gradient(to right, #a855f7, #ec4899, #eab308, #ec4899, #a855f7, #ec4899, #eab308);
    background-size: 300% 300%;
  }
</style>
