---
interface Props {
    title: string;
}
const { title } = Astro.props;
---
<section class=" mx-auto w-9/12 mt-10">
    <h1 class="text-5xl font-extrabold">{title}</h1>
    <hr class="rounded my-9 border-2 opacity-50">
</section>
