---
// SQL Database Icon
---
<div class="hover:border-gray-600">
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="12" cy="5" rx="8" ry="3" fill="#4479A1"/>
    <path d="M4 5v14c0 1.66 3.58 3 8 3s8-1.34 8-3V5" fill="#2C5F8A"/>
    <path d="M4 10v4c0 1.66 3.58 3 8 3s8-1.34 8-3v-4" fill="#3A7AB5"/>
  </svg>
  SQL
</div>
